  <section class="games">

  	 <% _.each(game_groups, function(game_group, start_day){ %>
	      <header>
	      		<h2>Games <%=start_day%></h2>
	      </header>
	      <ul data-role="listview" data-inset="true">
		    <% _.each(game_group, function(game){ %>
		       <li class="details" id="<%=game.get("id")%>">
	          	<a>
		          	<h2 class="team_1_name">
		          		<%= (game.get("team_1")) ? game.get("team_1").name : 'No Team.'%>
		          	</h2>
		          
		          	<h2 class="team_2_name">
		          		<%= (game.get("team_2")) ? game.get("team_2").name : 'No Team.' %>
		          	</h2>
		         
					  <p class="time"><%=game.get("start_time")%></p>
			          
			          <p class="result"><%= (game.get("team_1_score")) ? game.get("team_1_score") : '0' %>
			         - 
			         <%= (game.get("team_2_score")) ? game.get("team_2_score") : '0' %>
			          </p>
		      	  </a>
		          
		        </li>
		    <% }); %>
			</ul>
    <% }); %>
</section>
