<div class="game_scores">
	<header>
		<h1>Pool <%=game.get('pool').name%>, <%=game.get('start_day')%></h1>
	</header>
	<section>
		<form class="edit-score-form" name="update_score" method="POST">
			
			<header>
				<h1>Update score</h1>
			</header>

			<label>Team 1: <%=game.get('team_1').name%></label>
			<input type="text" name="team_1_score" value="<%= game.get('team_1_score') %>"/>
			<label>Team 2: <%=game.get('team_2').name%></label>
			<input type="text" name="team_2_score" value="<%= game.get('team_2_score') %>"/>

			<hr />
			<input type="hidden" name="game_id" value="<%= game.get('id') %>" />
			<input type="hidden" name="is_final" value="True" />

			<button type="button" class="btn">Update</button>

		</form>

	</section>
</div>